<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-2.5.xsd 
       http://www.springframework.org/schema/jms 
       http://www.springframework.org/schema/jms/spring-jms-2.5.xsd"
	default-lazy-init="true">

	<jms:listener-container connection-factory="jmsFactory"
		task-executor="taskExecutor" concurrency="10" acknowledge="transacted">
		<jms:listener destination="Log" ref="messageReceiver"
			method="receiveLog" />
		<jms:listener destination="DeskTop" ref="messageReceiver"
			method="receiveDeskTop" />
		<jms:listener destination="Mail" ref="messageReceiver"
			method="receiveMail" />
		<jms:listener destination="SMS" ref="messageReceiver"
			method="receiveSMS" />
	</jms:listener-container>


	<bean id="jmsFactory" class="com.king.common.jms.OpenMqConnectionFactory">
		<constructor-arg type="java.lang.String" value="localhost:7676" />
	</bean>

	<bean id="messageReceiver" class="com.king.common.jms.jmsReciever">
		<constructor-arg ref="taskExecutor" />
	</bean>

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="5" />
	</bean>


</beans>